import multiprocessing

workers = multiprocessing.cpu_count() * 2 + 1
proc_name = 'gunicorn'
bind = "127.0.0.1:8000"
errorlog = '/var/log/gunicorn/gunicorn-error.log'
accesslog = '/var/log/gunicorn/gunicorn-access.log'
loglevel = 'warning'
timeout = 60
