[program:gunicorn]
command={{ virtualenv_path }}/bin/gunicorn wsgi:app -c /etc/gunicorn/gunicorn.conf --pythonpath {{ application_path }}
directory={{ application_path }}
environment=PATH="{{ virtualenv_path }}/bin"
user={{ user_name }}
group={{ user_name }}
autorestart=true
autostart={{ autostart | bool | lower }}
redirect_stderr=true
